[submodule "site-lisp/duplicator"]
	path = site-lisp/duplicator
	url = git@github.com:rangilin/duplicator.git
[submodule "site-lisp/emacs-sql-indent"]
	path = site-lisp/emacs-sql-indent
	url = git@github.com:alex-hhh/emacs-sql-indent.git
